.accordeon-title {
	position: relative;
	cursor: pointer;
	padding-right: 58px;

	@media screen and (max-width: $break_sm) {
		padding-right: 32px;
	}

	&::after {
		position: absolute;
		content: '';
		right: 36px;
		top: 50%;
		transform: translateY(-50%);

		width: 22px;
		height: 22px;
		background-image: url('../img/arrow-accordion.svg');
		background-size: cover;
		background-position: center;

		@media screen and (max-width: $break_sm) {
			right: 10px;
		}

		// transition: .25s;
	}

	&.toggle {
		&::after {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}

.accordeon-descr {
	height: 0px;
    overflow: hidden;
    transition: height .25s;
	transform: scaleY(0);
	transform-origin: top;
	padding-bottom: 0;

	transition: transform .25s;
	
    &.toggle {
		height: initial;
		transform: scaleY(1);
		padding-top: 0;
		padding-bottom: 32px;
    }
}