.advantages {
	position: relative;

	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);

	color: #fff;
	text-align: center;

	background-color: var(--color-text);

	&::before {
		position: absolute;
		content: '';

		bottom: 0;
		left: 13%;

		width: 126px;
		height: 126px;

		transform: translateY(50%);

		background-image: url('../img/decoration-02.svg');
		background-size: cover;

		@media (max-width: $break_md) {
			left: 5%;

			width: 90px;
			height: 90px;
		}

		@media (max-width: $break_xs) {
			left: 0%;

			width: 70px;
			height: 70px;

			transform: translate(-30%, 50%);
		}
	}
}
.advantages__container {
}
.advantages__section-header {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.advantages__sub-title {
	margin-bottom: 50px;

	@media (max-width: $break_xs) {
		margin-bottom: 42px;
	}
}

.advantages__slider {
	@media screen and (max-width: $break_md) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}

.advantages__box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	// justify-content: space-between;
	// gap: var(--mainGap);

	justify-content: stretch !important;
}
.advantages__item {

}

.advantages-item {
	position: relative;
	height: auto !important;


	padding: 40px 40px 60px;
	border-radius: var(--brs);

	background-color: #2E343D;
	overflow: hidden;

	&::after {
		position: absolute;
		content: '';

		bottom: 0;
		left: 0;
		width: 100%;
		height: 7px;

		background-color: #EFBD4E;
	}

	&:nth-child(3n+2) {
		&::after {
			background-color: #567CF3;
		}
	}

	&:nth-child(3n+3) {
		&::after {
			background-color: #FF6600;
		}
	}

	@media screen and (max-width: $break_sm) {
		padding: 40px 15px 60px;
	}

	@media (max-width: $break_xs) {
		padding: 40px 15px 43px;
	}
}
.advantages-item--yellow {
}
.advantages-item__icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 22px;
}
.advantages-item__title {
	margin-bottom: 15px;

	max-width: 260px;
	margin-left: auto;
	margin-right: auto;

	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}
.advantages-item__descr {
	font-size: 15px;
	color: #7C7E82;
}
.advantages-item--orange {
}
.advantages-item--blue {
}
.advantages__btn {
	margin-top: 55px;
}