.block-img-text {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
    background-color: var(--bg-color);
}
.block-img-text__container {
}
.block-img-text__box {
    display: flex;
    // align-items: center;
    align-items: flex-start;
    gap: 100px;

    @media (max-width: $break_md) {
        gap: 40px;
    }

    @media (max-width: $break_sm) {
        flex-direction: column;

        width: 100%;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: $break_xs) {
        max-width: 100%;
    }
}

.block-img-text__img-box {
    max-width: 44%;
    width: 100%;

    @media (max-width: $break_sm) {
        max-width: 100%;
    }
}

.img-decor {
    width: 100%;
    padding-left: 17%;
    padding-right: 7%;

    @media (max-width: $break_sm) {
        padding-left: 60px;
        padding-right: 30px;
    }
}

.img-decor__wrapper {
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        transform: translate(-45%, -45%);

        width: 195px;
        height: 195px;

        background-image: url('../img/decoration-05.svg');
        background-size: cover;
        z-index: -1;

        @media (max-width: $break_md) {
            width: 120px;
            height: 120px;
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        transform: translate(45%, 45%);

        width: 100px;
        height: 100px;

        background-image: url('../img/decoration-04.svg');
        background-size: cover;
        z-index: -1;

        @media (max-width: $break_md) {
            width: 60px;
            height: 60px;
        }
    }
}

.block-img-text__img {
    border-radius: var(--brs);
    width: 100%;
    height: auto;
}

.block-img-text__info {
    max-width: 505px;
}
.block-img-text__section-header {
    margin-bottom: 20px;
}
.block-img-text__list {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}
.block-img-text__item {
    position: relative;
    padding-left: 40px;

    &::before {
        position: absolute;
        content: '';

        left: 0;

        width: 26px;
        height: 26px;

        background-image: url('../img/marker.svg');
        background-size: cover;
        background-position: center;
    }
}
.block-img-text__title {
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: 600;
}
.block-img-text__descr {
}