.faq {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);

	overflow: hidden;
}
.faq__container {
}
.faq__section-header {
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;

	text-align: center;
}
.faq__list {

}
.faq-list {
	position: relative;
	// z-index: 2;

	display: flex;
	flex-direction: column;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--bg-color);
	border-radius: var(--brs6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&::before {
		position: absolute;
		z-index: -1;
		content: '';

		top: 0;
		left: 0;

		width: 248px;
		height: 248px;

		transform: translate(-43%, -43%);

		background-image: url('../img/decoration-03.svg');
		background-size: cover;

		@media (max-width: $break_md) {
			width: 106px;
			height: 106px;
		}

		@media (max-width: $break_sm) {
			transform: translate(-30%, -30%);
		}
	}

	&::after {
		position: absolute;
		z-index: -1;
		content: '';

		bottom: 0;
		right: 0;

		width: 100px;
		height: 100px;

		transform: translate(50%, 50%);

		background-image: url('../img/decoration-01.svg');
		background-size: cover;

		@media (max-width: $break_lg) {
			width: 60px;
			height: 60px;
		}

		@media (max-width: $break_sm) {
			transform: translate(45%, 40%);
		}

		// @media (max-width: $break_sm) {
		// 	transform: translate(-30%, -30%);
		// }
	}

	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.faq-list__item {
	padding: 0;

	&:not(:last-child) {
		border-bottom: 1px solid #E4E4E4;
	}
}
.faq-list__title {
	padding: 32px;

	font-size: 20px;
	font-weight: 500;

	@media screen and (max-width: $break_sm) {
		padding: 22px 32px 22px 25px;
		font-size: 17px;
	}
}
.faq-list__descr {
	padding: 0 32px 32px;
	// display: none;

	@media screen and (max-width: $break_sm) {
		
	}
	p {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}