.features {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
}
.features__container {
}
.features__box {
	display: flex;
	flex-direction: column;
	gap: 100px;

	@media screen and (max-width: $break_sm) {
		gap: 50px;
	}
}
.features__item {
}
.features-item {
	&:nth-child(2n) {
		& .features-item__info {
			order: 2;
		}
	}
}
.features-item__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;

	@media screen and (max-width: $break_sm) {
		flex-direction: column;
		gap: 25px;

		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.features-item__info {
	max-width: 490px;
}
.features-item__title {
}
.section-header {
}
.features-item__descr {
}
.features-item__btn {
	@media screen and (max-width: $break_sm) {
		margin-top: 30px;
	}
}
.btn {
}
.features-item__img {
	max-width: 568px;

	@media screen and (max-width: $break_sm) {
		order: -1;
	}
}

.features-item__header-mobile {
	display: none;

	@media screen and (max-width: $break_sm) {
		display: block;
	}
}