.first-screen {
    // padding-top: 25px;
    padding-top: 0;
    padding-bottom: 132px;

    background-image: url('../img/bg-first-screen.jpg');
    background-size: cover;
    background-position: center;

    @media (max-width: $break_md) {
        padding-top: 0;
        padding-bottom: 40px;
    }
}