.footer {
	margin-top: auto;
	padding-top: 50px;
	padding-bottom: 60px;

	display: flex;
	flex-direction: column;

	background-color: var(--color-text);

	color: var(---color-etxt-footer);

	@media screen and (max-width: $break_md) {
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
.footer__container {
	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.footer__top {
}
.footer-top {
	padding-bottom: 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #fff;

	@media screen and (max-width: $break_md) {
		flex-wrap: wrap;
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-top__logo {
	img {
		@media screen and (max-width: $break_sm) {
			height: 35px;
		}
	}
}
.footer-top__menu {
}
.footer-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 25px;

	@media screen and (max-width: $break_md) {
		order: 2;
		justify-content: center;

		width: 100%;
		margin-top: 30px;

		padding-top: 30px;
		padding-bottom: 30px;

		border-top: 1px solid #3A3F47;
		border-bottom: 1px solid #3A3F47;
	}

	@media (max-width: $break_xs) {
		gap: 15px;
	}
}
.footer-menu__item {
}
.footer-menu__link {
}
.footer-top__contacts {
	// text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 8px;

	@media screen and (max-width: $break_sm) {
		font-size: 14px;
	}
}
.footer__middle {
	font-size: 14px;

	@media screen and (max-width: $break_xs) {
		font-size: 13px;
	}
}
.footer-middle {
	padding-top: 15px;
	padding-bottom: 30px;

	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid #3A3F47;
}
.footer-middle__col {
	display: flex;
	flex-direction: column;
	gap: 8px;

	// max-width: 50%;

	color: var(---color-etxt-footer);

	&:last-child {
		align-items: flex-end;
	}

	a {
		color: var(---color-etxt-footer);

		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-link {
}
.footer__bottom {
	padding-top: 40px;
	font-size: 14px;
}
.footer-bottom {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: $break_sm) {
		flex-direction: column;
	}
}
.footer-bottom__col {

	&:first-child {
		max-width: 256px;

		@media screen and (max-width: $break_sm) {
			max-width: 100%;
		}
	}

	&:last-child {
		align-items: flex-end;
		max-width: 332px;

		text-align: right;

		@media screen and (max-width: $break_sm) {
			max-width: 100%;
			text-align: left;

			border-top: 1px solid #3A3F47;
			padding-top: 30px;
			margin-top: 30px;
		}
	}
}