.hero {
    padding-top: 80px;

    @media (max-width: $break_md) {
        padding-top: 120px;
    }
}

.hero__container {}

.hero__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    @media (max-width: $break_sm) {
        flex-direction: column;
    }

    @media (max-width: $break_xs) {
        gap: 50px;
    }
}

.hero__info {
    max-width: 595px;
    min-width: 40%;

    @media (max-width: $break_md) {
        width: 100%;
        max-width: 0%;
    }

    @media (max-width: $break_sm) {
        max-width: 70%;
    }

    @media (max-width: $break_xs) {
        max-width: 100%;
    }
}

.hero__text {
    // margin-bottom: 135px;

    .home & {
        margin-bottom: 22.7%;

        @media (max-width: $break_md) {
            margin-bottom: 50px;
        }

        @media (max-width: $break_xs) {
            margin-bottom: 25px;
        }
    }
}

.hero__title {
    max-width: 554px;

    @media (max-width: $break_xs) {
        margin-bottom: 15px;
    }
}

.hero__descr {}

.hero__btn {
    @media (max-width: $break_xs) {
        margin-top: 25px;
    }
}

.hero__integration {
    span {
        padding: 5px 19px;
        margin-left: 5px;
        margin-top: 2px;
        margin-bottom: 2px;

        display: inline-flex;

        border-radius: 50px;
        border: 1px solid var(--color-text);

        @media (max-width: $break_xs) {
            padding: 2px 10px;
            font-size: 14px;
        }
    }
}

.hero__img {
    max-width: 600px;
    // width: 100%;

    @media (max-width: $break_lg) {
        max-width: 60%;
    }

    @media (max-width: $break_md) {
        width: 100%;
        max-width: 50%;
    }

    @media (max-width: $break_sm) {
        order: 2;
        max-width: 70%;
    }

    @media (max-width: $break_xs) {
        max-width: 100%;
    }
}

.hero__price {
    margin-top: 30px;

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    font-size: 18px;
}
.hero__price-count {
    margin-left: 8px;
    font-size: 30px;
}
.hero__price-descr {
    margin-left: 8px;
    font-size: 14px;

    @media (max-width: $break_md) {
        margin-left: 0;
        width: 100%;
    }
}
.hero__footnote {
    margin-top: 33px;

    font-size: 14px;
    color: var(---color-etxt-footer);
}