.instruction {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
}

.instruction__container {
}
.instruction__section-header {
	text-align: center;
	margin-bottom: 9rem;

	@media screen and (max-width: $break_sm) {
		margin-bottom: 3.4rem;
	}
}
.instruction__box {
	display: flex;
	justify-content: space-between;
	gap: var(--mainGap);

    counter-reset: li;
    padding-left: 30px;
    // margin-top: 25px;
    // margin-bottom: 25px;
}
.instruction__item {
	position: relative;
	padding-left: 70px;

	&::before {
		content: counter(li);
		counter-increment: li;

		position: absolute;
		// margin-top: -2px;
		margin-left: -70px;
		height: 28px;
		width: 28px;
		
		font-size: 24px;
		color: var(--color-text);
		font-weight: 600;
		line-height: 28px;
		text-align: center;
	}
}
.instruction-item {
}
.instruction-item__box {
	position: relative;

	&::before {
		height: 100%;
		width: 1px;
		
		position: absolute;
		content: '';
		top: 0;
		left: -25px;
		
		background-color: #C0C0C0;
	}
}
.instruction-item__title {
	margin-bottom: 24px;

	font-size: 20px;
	font-weight: 600;
}
.instruction-item__descr {
	margin-bottom: 45px;
}
.instruction-item__icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 94px;
	width: auto;
}