.menu {
    display: flex;
    align-items: center;
    gap: 25px;

    @media (max-width: $break_sm) {
        padding-bottom: 20px;
        flex-direction: column;
        gap: 0px;
    }
}

.menu__item {
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;

    @media (max-width: $break_sm) {
        width: 100%;
    }
}

.menu-link {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    overflow: hidden;

    &:hover {
        &:before {
            transform: translateX(0);
        }
    }

    &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-text);

        transform: translateX(-100%);
        transition: transform .25s;

        @media (max-width: $break_sm) {
            display: none;
        }
    }

    @media (max-width: $break_sm) {
        display: block;
        width: 100%;
        padding: 15px 25px;
    }
}