.our-services {
    padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
}
.our-services__container {
	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.our-services__section-header {
}
.our-services__box {

}
.services-box {
    display: grid;
    grid-template-columns: 40% 40% 1fr;
    gap: 20px;

    list-style: none;
    counter-reset: num;

    @media (max-width: $break_sm) {
        grid-template-columns: 1fr;
    }

    // @media (max-width: $break_xs) {
    //     grid-template-columns: 1fr;
    // }
}
.services-box__item {
}
.services-item {
    position: relative;

    padding: 50px 43px;

    min-height: 285px;

    background-color: #E8EBF6;
    border-radius: var(--brs);

    counter-increment: num;

    font-size: 15px;

    &::before {
        font-size: 20px;
        font-weight: 600;
        color: #828282;

        position: absolute;
        left: 42px;

        content: counter(num);
        counter-increment: li;

        @media (max-width: $break_sm) {
            left: 25px;
        }
    }

    @media (max-width: $break_sm) {
        padding: 25px;
    }

    li {
        margin-bottom: 1.2rem !important;
    }
}

.services-item:nth-child(-n+9):before {
    content: '0' counter(num);
}

.services-item__title {
    padding-left: 38px;
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 600;
}
.decor {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    background-image: url('../img/bg-services-decor.jpg');
    background-size: cover;
    background-position: center;

    @media (max-width: $break_sm) {
        display: none;
    }

    &::before {
        display: none;
    }
}