.reviews {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
	overflow: hidden;
}
.reviews__container {
}

.reviews__section-header {
	text-align: center;
	margin-bottom: 50px;
}
.reviews__box {
	position: relative;

	&::before {
		position: absolute;
		z-index: -1;
		content: '';

		bottom: 0;
		right: 0;

		width: 175px;
		height: 175px;

		transform: translate(43%, 43%);

		background-image: url('../img/decoration-03.svg');
		background-size: cover;

		@media (max-width: $break_lg) {
			width: 106px;
			height: 106px;
		}

		@media (max-width: $break_sm) {
			display: none;
		}
	}

	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.reviews__wrapper {

}
.reviews__item {
}
.reviews-item {
	padding: 70px 50px;

	box-sizing: border-box;

	height: auto!important;
	
	display: flex;
	flex-direction: column;
	gap: 20px;
	
	// border: 1px solid var(--color-text);
	border-radius: var(--brs);
	box-shadow: 0px 0px 0px 1px var(--color-text) inset;
	background-color: var(--bg-color);

	@media screen and (max-width: $break_sm) {
		width: 100% !important;
		height: auto;
	}

	@media screen and (max-width: $break_xs) {
		padding: 35px 25px;
	}

	&:nth-child(2n) {
		.reviews-item__icon {
			background-color: var(--color-accent1);
		}
	}
}
.reviews-item__info {
	display: flex;
	align-items: center;
	gap: 14px;
}
.reviews-item__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 54px;
	height: 54px;
	border-radius: 50%;

	font-size: 20px;
	text-transform: uppercase;
	color: #fff;

	background-color: var(--color-accent2);
}
.reviews-item__user {
}
.reviews-item__name {
	font-weight: 600;
}
.reviews-item__post {
	font-size: 14px;
	color: #868686;	
}
.reviews-item__descr {
	font-size: 17px;

	@media screen and (max-width: $break_xs) {
		font-size: 16px;
	}
}

.reviews-pagination {
	display: none;
	margin-top: 10px;
	text-align: center;

	@media (max-width: $break_sm) {
		display: block;
	}
}