.services {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);

	background-color: var(--bg-color);
	overflow: hidden;
}
.services__container {
}
.services__box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 200px;

	@media screen and (max-width: 1300px) {
		gap: 100px;
	}

	@media screen and (max-width: $break_lg) {
		align-items: flex-start;
		gap: 50px;
	}

	@media screen and (max-width: $break_sm) {
		flex-direction: column;
	}
}
.services__col-one {
	max-width: 34%;

	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.services__col-two {
	flex-grow: 1;

	@media screen and (max-width: $break_sm) {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $break_xs) {
		max-width: 100%;
	}
}
.section-header {
}
.services__section-header {
	margin-bottom: 98px;

	@media (max-width: $break_md) {
		margin-bottom: 25px;
	}
}
.services__img {
	position: relative;
	z-index: 2;

	&::before {
		position: absolute;
		content: '';
		z-index: 1;

		width: 100px;
		height: 100px;

		top: 0;
		right: 0;

		background-image: url('../img/decoration-01.svg');
		background-size: cover;

		transform: translate(50%, -50%);

		@media (max-width: $break_lg) {
			width: 70px;
			height: 70px;
		}

		@media (max-width: $break_sm) {
			bottom: 0;
			top: initial;

			transform: translate(50%, 50%);
		}

		@media (max-width: $break_xs) {
			width: 50px;
			height: 50px;
		}

	}

	img {
		position: relative;
		z-index: 2;

		max-width: 440px;
		width: 100%;
		border-radius: var(--brs);
		overflow: hidden;

		@media screen and (max-width: 1200px) {
			max-width: 100%;
		}
	}
}
.services__list {
}
.services-list {
	display: flex;
	flex-direction: column;

	width: 100%;
	
	border-top: 1px solid var(--color-text);

	counter-reset: num;
	list-style: none;
}
.services-list__item {
	position: relative;
	padding: 18px 15px 18px 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--color-text);

	min-height: 160px;

	counter-increment: num;

	@media screen and (max-width: $break_sm) {
		flex-direction: column;
		justify-content: flex-start;
		gap: 10px;

		align-items: stretch;
	}

	&::before {
		content: counter(num);
		counter-increment: li;

		position: absolute;
		// top: 0;
		left: 0;

		color: #828282;
		font-weight: 600;

		@media screen and (max-width: $break_sm) {
			margin-top: 3px;
		}
	}

	&:nth-child(-n+9):before {
		content: "0" counter(num);
	}
}
.services-list__title {
	font-size: 20px;
	font-weight: 600;
}
.services-list__descr {
	width: 50%;

	font-size: 15px;

	@media screen and (max-width: $break_sm) {
		width: 100%;
	}

	ul {
		@media (max-width: $break_sm) {
			margin-left: -38px;
		}
	}

	li {
		text-decoration: underline;

		@media (max-width: $break_sm) {
			margin-bottom: 12px !important;
		}
	}
}