.tabs {
}
.tabs__btns {
}
.tabs-btns {
	display: flex;
	justify-content: center;
	gap: 8px;

	margin-bottom: 60px;

	@media screen and (max-width: $break_sm) {
		margin-bottom: 35px;
	}
}
.tabs-btns__item {
}
.tab-btn-item {
	margin-top: 0;
	transition: 0s;

	@media (max-width: $break_sm) {
		padding: 15px 20px;
	}
}

.tabs__content {
}
.tabs-content {
}
.tabs-content__item {
}
.tabs-content-item {
	display: none;

	&.toggle {
		display: block;
	}
}