.tariff {
	text-align: center;
}

.tariff__container {
	@media (max-width: $break_sm) {

			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (max-width: $break_xs) {
			max-width: 100%;
		}
}

.tariff__section-tariff {
}
.tariff__sub-title {
	max-width: 731px;
	margin-bottom: 33px;

	@media (max-width: $break_sm) {
		margin-bottom: 25px;
	}
}
.section-header__sub-title {
}


