.breadcrumbs
    .container.breadcrumbs__container
        a(href="#").breadcrumbs__link.back Назад
        //- a(href="#").breadcrumbs__link Главная
        //- | &#32;/&#32;
        //- a(href="#").breadcrumbs__link Распродажа
        //- | &#32;/&#32;
        //- span Специальная цена на выставочные образцы
