.calc.js-calc-two
    .calc__box
        .calc__form.calc-form
            h3.calc-form__title Цена зависит от количества отправляемых писем
            .calc-form__descr Подходит для частых рассылок и зависит только от числа подписчиков в ваших адресных базах. Оплата раз в месяц.

            .calc-form__subtitle Количество писем
            .calc-form__box
                .calc-form__btn(data-value="5000" data-price="1000").toogle до 5000
                .calc-form__btn(data-value="10000" data-price="2000") до 10000
                .calc-form__btn(data-value="15000" data-price="3000") до 15000
                .calc-form__btn(data-value="20000" data-price="4000") до 20000
                .calc-form__btn(data-value="50000" data-price="5000") до 50000
                .calc-form__btn(data-value="100000" data-price="10000") до 100000
                .calc-form__btn(data-value="150000" data-price="15000") до 150000
                .calc-form__btn(data-value="200000" data-price="20000") до 200000
                .calc-form__btn(data-value="250000" data-price="25000") до 250000
                .calc-form__btn(data-value="500000" data-price="30000") до 500000



        .calc__info.calc-info
            h3.calc-info__title Что входит в пакет:
            .calc-info__descr
                ul
                    li Lorem ipsum dolor sit amet, consectetur adipiscing eli
                    li Lorem ipsum dolor sit amet,
                    li Lorem ipsum dolor sit amet, consectetur
            span.calc-info__price.js-price-letters 900₽
            span в месяц