.calc.js-calc-one
    .calc__box
        .calc__form.calc-form
            h3.calc-form__title Цена зависит от количества контактов
            .calc-form__descr Подходит для частых рассылок и зависит только от числа подписчиков в ваших адресных базах. Оплата раз в месяц.

            .calc-form__subtitle Период
            .calc-form__box
                .calc-form__btn.time(data-value="1" data-type="time").toogle 1 месяц
                .calc-form__btn.time(data-value="3" data-type="time") 3 месяца
                .calc-form__btn.time(data-value="6" data-type="time") 6 месяцев
                .calc-form__btn.time(data-value="12" data-type="time") 1 год

            .calc-form__subtitle Количество подписчиков
            .calc-form__box
                .calc-form__btn.subscribers(data-value="1000" data-type="subscribers").toogle до 1000
                .calc-form__btn.subscribers(data-value="1500" data-type="subscribers") до 1500
                .calc-form__btn.subscribers(data-value="2000" data-type="subscribers") до 2000
                .calc-form__btn.subscribers(data-value="3000" data-type="subscribers") до 3000
                .calc-form__btn.subscribers(data-value="4000" data-type="subscribers") до 4000
                .calc-form__btn.subscribers(data-value="5000" data-type="subscribers") до 5000
                .calc-form__btn.subscribers(data-value="6000" data-type="subscribers") до 6000

        .calc__info.calc-info
            h3.calc-info__title Что входит в пакет:
            .calc-info__descr
                ul
                    li Lorem ipsum dolor sit amet, consectetur adipiscing eli
                    li Lorem ipsum dolor sit amet,
                    li Lorem ipsum dolor sit amet, consectetur
            span.calc-info__price.js-price-subscribers 900₽
            span в месяц