.call-to-action
	.container.call-to-action__container
		a(href="#").call-to-action__box
			h2.call-to-action__title.section-header.call-to-action__section-header Закажите создание email-рассылки с нуля
			.call-to-action__descr Мы запустим первую рассылку за вас и научим получать клиентов с помощью email-маркетинга.
			button.call-to-action__btn.btn.btn--accent Оставить заявку
