.call-to-action
	.container.call-to-action__container
		a(href="#").call-to-action__box
			h2.call-to-action__title.section-header.call-to-action__section-header Создайте рассылку в MailChip за считанные минуты 
			.call-to-action__descr Начните с нами улучшать свой маркетинг прямо сейчас!
			button.call-to-action__btn.btn.btn--accent Зарегистрироваться
			