.cases
	.container.cases__container
		h2.section-header.cases__section-header Помогаем клиентам заработать на рассылках

		.cases__box
			.cases__slider.swiper.jsCasesSlider

				ul.cases__list.cases-list.swiper-wrapper

					li.cases-list__item.swiper-slide
						.cases-list__logo
							img(src="img/rocket-business.svg" loading="lazy" alt="").cases-list__icon
						.cases-list__info
							ul
								li
									p
										strong Клиент
									p “Название компании” горнолыжный интернет-магазин
								li
									p
										strong Что сделали
									p Внедрили email-маркетинг под ключ. Установили форму подписки на сайт, запустили велком-серию, брошенные корзины, специальные цепочки по крупным распродажам.
								li
									p
										strong Результат
									p Открываемость выросла в среднем на 10%, а переходы на сайт — в 3 раза.

					li.cases-list__item.swiper-slide
						.cases-list__logo
							img(src="img/logo.png" loading="lazy" alt="").cases-list__icon
						.cases-list__info
							ul
								li
									p
										strong Клиент
									p “Название компании” горнолыжный интернет-магазин
									p
										strong Что сделали
									p Внедрили email-маркетинг под ключ. Установили форму подписки на сайт, запустили велком-серию, брошенные корзины, специальные цепочки по крупным распродажам.
									p
										strong Результат
									p Открываемость выросла в среднем на 10%, а переходы на сайт — в 3 раза.

			.swiper__prev.cases__prev
			.swiper__next.cases__next