.faq
	.container.faq__container
		h2.section-header.faq__section-header Часто задаваемые вопросы
		ul.faq__list.faq-list
			li.faq-list__item
				.faq-list__title.accordeon-title Как быстро можно запустить email-рассылку?
				.faq-list__descr.accordeon-descr
					p всё можно запустить за 15 минут. Что для этого нужно:Загрузить базу контактов.Создать email в конструкторе. Написать тему письма и выбрать время отправки.Отправить.Через 1-2 дня после отправки оцените результаты, посмотрев статистику
			li.faq-list__item
				.faq-list__title.accordeon-title Как быстро можно запустить email-рассылку?
				.faq-list__descr.accordeon-descr
					p всё можно запустить за 15 минут. Что для этого нужно:Загрузить базу контактов.Создать email в конструкторе. Написать тему письма и выбрать время отправки.Отправить.Через 1-2 дня после отправки оцените результаты, посмотрев статистику
			li.faq-list__item
				.faq-list__title.accordeon-title Как быстро можно запустить email-рассылку?
				.faq-list__descr.accordeon-descr
					p всё можно запустить за 15 минут. Что для этого нужно:Загрузить базу контактов.Создать email в конструкторе. Написать тему письма и выбрать время отправки.Отправить.Через 1-2 дня после отправки оцените результаты, посмотрев статистику
			li.faq-list__item
				.faq-list__title.accordeon-title Как быстро можно запустить email-рассылку?
				.faq-list__descr.accordeon-descr
					p всё можно запустить за 15 минут. Что для этого нужно:Загрузить базу контактов.Создать email в конструкторе. Написать тему письма и выбрать время отправки.Отправить.Через 1-2 дня после отправки оцените результаты, посмотрев статистику
			li.faq-list__item
				.faq-list__title.accordeon-title Как быстро можно запустить email-рассылку?
				.faq-list__descr.accordeon-descr
					p всё можно запустить за 15 минут. Что для этого нужно:Загрузить базу контактов.Создать email в конструкторе. Написать тему письма и выбрать время отправки.Отправить.Через 1-2 дня после отправки оцените результаты, посмотрев статистику