.features
	.container.features__container
		.features__box
			.features__item.features-item
				.features-item__box
					.features-item__info
						.features-item__title.section-header Создавайте автоматические триггерные рассылки
						.features-item__descr Приветствуйте и отправляйте бонусы за подписку, напоминайте о брошенных корзинах, благодарите за заказ или отправляйте чеки на основе действий пользователя.
						a(href="#").features-item__btn.btn Создать рассылку
					.features-item__img
						img(src="img/content/features-01.png", alt="")
			.features__item.features-item
				.features-item__box
					.features-item__info
						.features-item__title.section-header Анализируйте эффективность рассылок
						.features-item__descr Получение API ключа. Параметры для отправки по SMTP. Статистика. Уникальные переходы,отписались. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
						a(href="#").features-item__btn.btn Подключить API
					.features-item__img
						img(src="img/content/features-02.png", alt="")