footer.footer
	.container.footer__container
		
		.footer__top.footer-top
			a(href="#").footer-top__logo
				img(src="img/logo-footer.png" loading="lazy" alt="")
			ul.footer-top__menu.footer-menu
				li.footer-menu__item
					a(href="#").footer-menu__link Услуги
				li.footer-menu__item
					a(href="#").footer-menu__link О компании
				li.footer-menu__item
					a(href="#").footer-menu__link Тарифы
			.footer-top__contacts
				a(href="tel:+79257079442") +7 (925)707-94-42
				a(href="mailto:support@mailchip.ru") support@mailchip.ru

		.footer__middle.footer-middle
			.footer-middle__col
				a(href="#").footer-link Публичный договор
				a(href="#").footer-link Анти-спам политика
			.footer-middle__col
				a(href="#").footer-link Политика приватности
				a(href="#").footer-link Политика безопасности

		.footer__bottom.footer-bottom
			.footer-bottom__col MailChip — онлайн-сервис, который позволяет организовать email-рассылки вашим клиентам быстро, надёжно и недорого!				
			.footer-bottom__col ООО «Джалисия» ОГРН 1221600022820 ИНН/КПП 1644099745 164401001. Адрес: 423408, Республика Татарстан, Альметьевский р-н, г Альметьевск, мкр. Урсала, Наили Закировой ул, д. 10.Режим работы: ПН-ПТ 09:30–18:00

				a(href="https://rbru.ru/uslugi/seo-prodvizheniye-sayta/").footer__seo.footer-seo
					img(src="img/rocket-business.svg" loading="lazy" alt="").footer-seo__img

					span Продвижение сайта Rocket Business