//- for-whom

.for-whom#for-whom
	.container.for-whom__container
		.for-whom__box
			.for-whom__img-box
				img(src="img/content/for-whom.jpg", alt="").for-whom__img
			.for-whom__info
				h2.section-header.for-whom__section-header Для кого подойдет

				p Поможем вывести Ваш маркетинг на высокий уровень, и это всё быстро, качественно и за приемлемую цену.

				ul.for-whom__list
					li.for-whom__item
						.for-whom__title Маркетологу
						.for-whom__descr Вам нужно запустить рассылку для компании, а вы этого никогда не делали.
					li.for-whom__item
						.for-whom__title Предпринимателю
						.for-whom__descr Вы хотите привлекать клиентов из email-рассылки, но не знаете, с чего начать.
					li.for-whom__item
						.for-whom__title Email-маркетологу
						.for-whom__descr Вы умеете делать рассылки, но хотите усилить компетенции под руководством профессионалов.
