//- for-whom

.block-img-text#for-whom
	.container.block-img-text__container
		.block-img-text__box
			.block-img-text__img-box
				.img-decor
					.img-decor__wrapper
						img(src="img/content/for-whom.jpg" loading="lazy" alt="").block-img-text__img
			.block-img-text__info
				h2.section-header.block-img-text__section-header Для кого подойдет

				p Поможем вывести Ваш маркетинг на высокий уровень, и это всё быстро, качественно и за приемлемую цену.

				ul.block-img-text__list
					li.block-img-text__item
						.block-img-text__title Маркетологу
						.block-img-text__descr Вам нужно запустить рассылку для компании, а вы этого никогда не делали.
					li.block-img-text__item
						.block-img-text__title Предпринимателю
						.block-img-text__descr Вы хотите привлекать клиентов из email-рассылки, но не знаете, с чего начать.
					li.block-img-text__item
						.block-img-text__title Email-маркетологу
						.block-img-text__descr Вы умеете делать рассылки, но хотите усилить компетенции под руководством профессионалов.
