//- for-whom

.block-img-text#for-whom
	.container.block-img-text__container
		.block-img-text__box
			.block-img-text__img-box
				.img-decor
					.img-decor__wrapper
						img(src="img/content/for-whom-about.jpg" srcset="img/content/for-whom-about@2x.jpg 2x" loading="lazy" alt="").block-img-text__img
			.block-img-text__info
				h2.section-header.block-img-text__section-header Заголовок

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

				p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.ем вывести Ваш маркетинг на высокий уровень, и это всё быстро, качественно и за приемлемую цену.


	include ../includes/in-numbers
