header.header
	.container.header__container

		.header__box

			button.header__menu-btn.burger__menu-btn.js-burger.jsMobileMenuBtnToggle
				span

			a(href="/").header__logo
				img(src="img/logo.png", alt="")

			nav.header__nav(data-da="mobile-menu__wrapper,1,768")
				ul.header__menu.header__menu.menu
					li.menu__item
						a(href="#services").menu-link Услуги
					li.menu__item
						a(href="#instruction").menu-link О компании
					li.menu__item
						a(href="#tariff").menu-link Тарифы
					//- li.menu__item
						a(href="#advantages").menu-link Преимущества


			.header__cantacts
				a(href="mailto:support@mailchip.ru").header__mail support@mailchip.ru
				a.header__btn.btn.btn--accent-transparent Вход