.hero
	.container.hero__container

		.hero__box
			.hero__info
				.hero__text
					.hero__title.section-header MailChip — универсальная и быстрая рассылка писем
					.hero__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
					button.hero__btn.btn.btn--accent Попробовать бесплатно
				.hero__integration
					| Интеграция:
					span Tilda
					span LP Generator


			img(src="img/hero.png", alt="").hero__img