//- servicesItem

.hero
	.container.hero__container

		.hero__box
			.hero__info
				.hero__text
					h1.hero__title.section-header О компании

					.hero__descr
						p MailChip — универсальный онлайн-сервис, который позволит вам максимально эффективно организовать рассылку для ваших клиентов.
						p Поможем вывести Ваш маркетинг на высокий уровень, и это всё быстро, качественно и за приемлемую цену.

			img(src="img/content/hero-about.png" loading="lazy" alt="").hero__img