//- servicesItem

.hero
	.container.hero__container

		.hero__box
			.hero__info
				.hero__text
					h1.hero__title.section-header Email-рассылка с нуля

					.hero__descr Запускаем рассылки с нуля: настройка домена, проверка базы, разработка мастер шаблона, анализ итогов рассылки

					.hero__price от
						span.hero__price-count 3000 ₽*
						span.hero__price-descr Срок: от 10 дней, услуга разовая

					a(href="#modal-01").hero__btn.btn.btn--accent.open-modal Уточнить стоимость
					//- button.hero__btn.btn.btn--accent Уточнить стоимость

					.hero__footnote *Цена и сроки зависят от объема работ. Оставьте заявку, и мы свяжемся с вами, чтобы уточнить детали.


				//- .hero__integration
					| Интеграция:
					span Tilda
					span LP Generator


			img(src="img/content/hero-servicesItem.png" loading="lazy" alt="").hero__img