.in-numbers
    .container.in-numbers__container
        ul.in-numbers__list
            li.in-numbers__item 100 000+
                span довольных клиентов
            li.in-numbers__item 10 миллионов
                span писем в месяц
            li.in-numbers__item 5 лет
                span на рынке
