.our-services
    .container.our-services__container

        h1.section-header.our-services__section-header Услуги

        ul.our-services__box.services-box

            li.services-box__item.services-item
                .services-item__title Комплексные услуги
                ul
                    li
                        a(href="#") Email-рассылка с нуля
                    li
                        a(href="#") Ежемесячное ведение рассылок
                    li
                        a(href="#") Настройка рассылки

            li.services-box__item.services-item
                .services-item__title Разовые услуги
                ul
                    li
                        a(href="#") Аудит рассылок
                    li
                        a(href="#") Выход из спама
                    li
                        a(href="#") Автоматическая серия писем
                    li
                        a(href="#") Реанимация базы

            li.services-box__item.services-item
                .services-item__title Шаблоны писем
                ul
                    li
                        a(href="#") Создадим шаблон письма
                    li
                        a(href="#") Заказать верстку письма

            li.services-box__item.services-item
                .services-item__title Помощь в работе
                ul
                    li
                        a(href="#") Аутентификация
                    li
                        a(href="#") Настройка корпоративной почты
                    li
                        a(href="#") Настройка форм подписки

            li.services-box__item.services-item.decor