.reviews
	.container.reviews__container
		h2.section-header.reviews__section-header Что о нас говорят
		.reviews__box
			.swiper.jsReviewsSlider
				.reviews__wrapper.swiper-wrapper

					.reviews__item.reviews-item.swiper-slide
						.reviews-item__info
							.reviews-item__icon А
							.reviews-item__user
								.reviews-item__name Александра Р. 
								.reviews-item__post Маркетолог
						
						.reviews-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
					.reviews__item.reviews-item.swiper-slide
						.reviews-item__info
							.reviews-item__icon В
							.reviews-item__user
								.reviews-item__name Виктор
								.reviews-item__post Маркетолог
						
						.reviews-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
					.reviews__item.reviews-item.swiper-slide
						.reviews-item__info
							.reviews-item__icon А
							.reviews-item__user
								.reviews-item__name Александра Р. 
								.reviews-item__post Маркетолог
						
						.reviews-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
					.reviews__item.reviews-item.swiper-slide
						.reviews-item__info
							.reviews-item__icon В
							.reviews-item__user
								.reviews-item__name Виктор
								.reviews-item__post Маркетолог
						
						.reviews-item__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.swiper__prev.reviews__prev
			.swiper__next.reviews__next