.services#services
	.container.services__container
		.services__box

			.services__col-one
			
				h2.section-header.services__section-header Чем мы<br>можем помочь
				.services__img
					img(src="img/content/services.jpg" srcset="img/content/services@2x.jpg 2x" loading="lazy" alt="")
			
			.services__col-two
				ul.services__list.services-list
					li.services-list__item
						.services-list__title Комплексные услуги
						.services-list__descr
							ul
								li
									a(href="#") Email-рассылка с нуля
								li
									a(href="#") Ежемесячное ведение рассылок
								li
									a(href="#") Настройка рассылки
					li.services-list__item
						.services-list__title Разовые услуги
						.services-list__descr
							ul
								li
									a(href="#") Аудит рассылок
								li
									a(href="#") Выход из спама
								li
									a(href="#") Автоматическая серия писем
								li
									a(href="#") Реанимация базы
					li.services-list__item
						.services-list__title Шаблоны писем
						.services-list__descr
							ul
								li
									a(href="#") Создадим шаблон письма
								li
									a(href="#") Заказать верстку письма
					li.services-list__item
						.services-list__title Помощь в работе
						.services-list__descr
							ul
								li
									a(href="#") Аутентификация
								li
									a(href="#") Настройка корпоративной почты
								li
									a(href="#") Настройка форм подписки

