.services#services
	.container.services__container
		.services__box

			.services__col-one
			
				h2.section-header.services__section-header Чем мы<br>можем помочь
				.services__img
					img(src="img/content/services.jpg" loading="lazy" alt="")
			
			.services__col-two
				ul.services__list.services-list
					li.services-list__item
						.services-list__title Комплексные услуги
						.services-list__descr
							ul
								li Email-рассылка с нуля
								li Ежемесячное ведение рассылок
								li Настройка рассылки
					li.services-list__item
						.services-list__title Разовые услуги
						.services-list__descr
							ul
								li Аудит рассылок
								li Выход из спама
								li Автоматическая серия писем
								li Реанимация базы
					li.services-list__item
						.services-list__title Шаблоны писем
						.services-list__descr
							ul
								li Создадим шаблон письма
								li Заказать верстку письма
					li.services-list__item
						.services-list__title Помощь в работе
						.services-list__descr
							ul
								li Аутентификация
								li Настройка корпоративной почты
								li Настройка форм подписки

