.tabs
	.tabs__btns.tabs-btns
		button.btn.tabs-btns__item.tab-btn-item.toggle Количество контактов
		button.btn.btn--transparent.tabs-btns__item.tab-btn-item Количество писем
	.tabs__content.tabs-content
		.tabs-content__item.tabs-content-item.toggle
			include calc-one
		.tabs-content__item.tabs-content-item
			include calc-two