section.tariff
	.container.tariff__container
		h2.section-header.tariff__section-tariff Тарифы
		.tariff__sub-title.section-header__sub-title Мы разработали универсальную систему тарифов, которая будет выгодна как для новичков, так и для крупного бизнеса

		include tabs
