section.tariff
	.container.tariff__container
		h2.section-header.tariff__section-tariff Тарифы
		.tariff__sub-title.section-header__sub-title Мы разработали универсальную систему тарифов, которая будет выгодна как для новичков, так и для крупного бизнеса

		.tabs
			.tabs__btns.tabs-btns
				button.btn.tabs-btns__item.tab-btn-item.toggle Количество контактов
				button.btn.btn--transparent.tabs-btns__item.tab-btn-item Количество писем
			.tabs__content.tabs-content
				.tabs-content__item.tabs-content-item.toggle Содержимое первого таба
				.tabs-content__item.tabs-content-item Содержимое второго таба
