include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        main
            include ../includes/first-screen-about
            include ../includes/for-whom-about
            //- include ../includes/instruction
            //- include ../includes/services
            //- include ../includes/features
            //- include ../includes/advantages
            //- include ../includes/tariff
            //- include ../includes/cases
            //- include ../includes/faq
            include ../includes/advantages
            include ../includes/reviews
            include ../includes/call-to-action
        include ../includes/footer
        include ../includes/modal
        include ../includes/mobile-menu

