mixin linkToPage(link, title)
	p
		a(href=link+".html" target="_blank") #{title}

doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		.container
			h1 Верстка сайта «MailChip – универсальная и быстрая рассылка писем»:
			.index
				p.info Если страничка отображается криво, обновляем ее через CTRL + F5!
				+linkToPage('home','home - Главная')
				+linkToPage('servicesItem','servicesItem - детальная страница услуги')